
.my-box {
  background:green;
  border:1px dashed rgb(5, 7, 3);
  padding: 2% 2%;
}
.my-box-header{
  font-size: 50px;
  color:rgb(98, 80, 255);
}
.my-box-header-secondary {
  font-size:30px;
  color:orange;
}
